In [1]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
import csv

In [42]:
path = os.path.join("Raw","")
# ITT Storage and Peripheries
LNVGY = pd.read_csv(os.path.join(path, "IT_TechHardwareStorage/LNVGY.csv"))
HPE = pd.read_csv(os.path.join(path, "IT_TechHardwareStorage/HPE.csv"))
DELL = pd.read_csv(os.path.join(path, "IT_TechHardwareStorage/DELL.csv"))

# IT Semiconductors
INTC = pd.read_csv(os.path.join(path, "IT_Semiconductors/INTC.csv"))
QCOM = pd.read_csv(os.path.join(path, "IT_Semiconductors/QCOM.csv"))

# Industrials_AerospaceAndDefence
EADSF = pd.read_csv(os.path.join(path, "Industrials_AerospaceAndDefence/EADSF.csv"))
BA = pd.read_csv(os.path.join(path, "Industrials_AerospaceAndDefence/BA.csv"))

# Consumer Staples - Household
CL = pd.read_csv(os.path.join(path, "ConsumerStaples_Household/CL.csv"))
PG = pd.read_csv(os.path.join(path, "ConsumerStaples_Household/PG.csv"))

# Consumer Staples - Hypermarkets
COST = pd.read_csv(os.path.join(path, "ConsumerStaples_Hypermarkets/COST.csv"))
WMT = pd.read_csv(os.path.join(path, "ConsumerStaples_Hypermarkets/WMT.csv"))

# Consumer Staples - Soft Drinks
PEP = pd.read_csv(os.path.join(path, "ConsumerStaples_SoftDrinks/PEP.csv"))
KO = pd.read_csv(os.path.join(path, "ConsumerStaples_SoftDrinks/KO.csv"))

# Industrials Airlines
DAL = pd.read_csv(os.path.join(path, "Industrials_Airlines/DAL.csv"))
UAL = pd.read_csv(os.path.join(path, "Industrials_Airlines/UAL.csv"))
AAL = pd.read_csv(os.path.join(path, "Industrials_Airlines/AAL.csv"))

# Health Care - Pharmaceuticals
PFE = pd.read_csv(os.path.join(path, "HealthCare_Pharmaceuticals/PFE.csv"))
JNJ = pd.read_csv(os.path.join(path, "HealthCare_Pharmaceuticals/JNJ.csv"))

# Communications - Interactive Media
FB = pd.read_csv(os.path.join(path, "Comm_InteractiveMedia/FB.csv"))
GOOGL = pd.read_csv(os.path.join(path, "Comm_InteractiveMedia/GOOGL.csv"))

# Consumer Discretionary - Restaurants
SBUX = pd.read_csv(os.path.join(path, "ConsumerDisc_Restaurants/SBUX.csv"))
MCD = pd.read_csv(os.path.join(path, "ConsumerDisc_Restaurants/MCD.csv"))

# Consumer Discretionary - Automobile
FCAU = pd.read_csv(os.path.join(path, "ConsumerDisc_Auto/FCAU.csv"))
F = pd.read_csv(os.path.join(path, "ConsumerDisc_Auto/F.csv"))
GM = pd.read_csv(os.path.join(path, "ConsumerDisc_Auto/GM.csv"))

# Communications - Telecommunications
TMUS = pd.read_csv(os.path.join(path, "Comm_Telecom/TMUS.csv"))
T = pd.read_csv(os.path.join(path, "Comm_Telecom/T.csv"))

# Energy - Oil & Gas
XOM = pd.read_csv(os.path.join(path, "Energy_OilAndGas/XOM.csv"))
CVX = pd.read_csv(os.path.join(path, "Energy_OilAndGas/CVX.csv"))
 
# Financial Services - Banks
WFC = pd.read_csv(os.path.join(path, "FinancialServices_Banks/WFC.csv"))
BAC = pd.read_csv(os.path.join(path, "FinancialServices_Banks/BAC.csv"))

In [38]:
len(CL)

61

In [41]:
CL['Date'].value_counts()

2019-05-01    1
2020-04-01    1
2016-09-01    1
2016-03-01    1
2016-06-01    1
             ..
2018-11-01    1
2017-03-01    1
2017-05-01    1
2016-12-01    1
2018-07-01    1
Name: Date, Length: 61, dtype: int64

In [61]:
merged_bac_wfc_df = pd.merge(WFC, BAC, on='Date', suffixes=('_wfc', '_bac'))
merged_bac_wfc_df

,Date,Open_wfc,High_wfc,Low_wfc,Close_wfc,Adj Close_wfc,Volume_wfc,Open_bac,High_bac,Low_bac,Close_bac,Adj Close_bac,Volume_bac
0,2015-07-01,57.090000,58.770000,55.080002,57.869999,48.733082,300870000,17.250000,18.480000,16.219999,17.879999,16.320553,1904433600
1,2015-08-01,58.070000,58.160000,47.750000,54.029999,45.499367,439060600,17.910000,18.070000,14.600000,16.440001,15.006145,2325559300
2,2015-09-01,52.110001,53.910000,49.799999,51.349998,43.524792,409157600,15.950000,16.480000,15.250000,15.580000,14.221155,1777912500
3,2015-10-01,51.509998,55.570000,49.509998,54.139999,45.889622,353524000,15.520000,17.440001,14.630000,16.780001,15.365807,1848594500
4,2015-11-01,54.209999,56.340000,54.130001,55.099998,46.703323,268235700,16.900000,18.090000,16.870001,17.430000,15.961024,1439390500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2020-03-01,40.980000,42.900002,25.110001,28.700001,28.128466,1116095800,28.350000,29.750000,17.950001,21.230000,20.949295,2826499000
57,2020-04-01,27.020000,33.910000,25.910000,29.049999,28.471495,868179300,19.930000,25.320000,19.510000,24.049999,23.883434,1636882500
58,2020-05-01,28.500000,28.530001,22.000000,26.469999,25.942873,1055539700,23.379999,26.170000,20.100000,24.120001,23.952951,1447546400
59,2020-06-01,26.610001,33.889999,26.370001,27.969999,27.969999,623079700,24.280001,29.010000,23.680000,24.780001,24.608379,900893000
60,2020-06-15,26.860001,28.385000,26.559999,28.209999,28.209999,47336225,23.760000,25.170000,23.690001,25.150000,25.150000,76268479

In [67]:
dropped_bac_wfc_df = merged_bac_wfc_df.dropna()

In [68]:
dropped_bac_wfc_df

,Date,Open_wfc,High_wfc,Low_wfc,Close_wfc,Adj Close_wfc,Volume_wfc,Open_bac,High_bac,Low_bac,Close_bac,Adj Close_bac,Volume_bac
0,2015-07-01,57.090000,58.770000,55.080002,57.869999,48.733082,300870000,17.250000,18.480000,16.219999,17.879999,16.320553,1904433600
1,2015-08-01,58.070000,58.160000,47.750000,54.029999,45.499367,439060600,17.910000,18.070000,14.600000,16.440001,15.006145,2325559300
2,2015-09-01,52.110001,53.910000,49.799999,51.349998,43.524792,409157600,15.950000,16.480000,15.250000,15.580000,14.221155,1777912500
3,2015-10-01,51.509998,55.570000,49.509998,54.139999,45.889622,353524000,15.520000,17.440001,14.630000,16.780001,15.365807,1848594500
4,2015-11-01,54.209999,56.340000,54.130001,55.099998,46.703323,268235700,16.900000,18.090000,16.870001,17.430000,15.961024,1439390500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2020-03-01,40.980000,42.900002,25.110001,28.700001,28.128466,1116095800,28.350000,29.750000,17.950001,21.230000,20.949295,2826499000
57,2020-04-01,27.020000,33.910000,25.910000,29.049999,28.471495,868179300,19.930000,25.320000,19.510000,24.049999,23.883434,1636882500
58,2020-05-01,28.500000,28.530001,22.000000,26.469999,25.942873,1055539700,23.379999,26.170000,20.100000,24.120001,23.952951,1447546400
59,2020-06-01,26.610001,33.889999,26.370001,27.969999,27.969999,623079700,24.280001,29.010000,23.680000,24.780001,24.608379,900893000
60,2020-06-15,26.860001,28.385000,26.559999,28.209999,28.209999,47336225,23.760000,25.170000,23.690001,25.150000,25.150000,76268479

In [69]:
dropped_bac_wfc_df.describe()

,Open_wfc,High_wfc,Low_wfc,Close_wfc,Adj Close_wfc,Volume_wfc,Open_bac,High_bac,Low_bac,Close_bac,Adj Close_bac,Volume_bac
count,61.000000,61.000000,61.000000,61.000000,61.000000,6.100000e+01,61.000000,61.000000,61.000000,61.000000,61.000000,6.100000e+01
mean,50.675082,52.883525,47.456066,50.193606,45.444706,4.532124e+08,24.188197,25.773606,22.571476,24.299672,23.172004,1.609048e+09
std,7.690186,7.277519,7.868939,7.969625,6.675957,1.663027e+08,6.318921,6.494673,6.055358,6.164644,6.241104,5.934589e+08
min,26.610001,28.385000,22.000000,26.469999,25.942873,4.733622e+07,12.640000,14.030000,10.990000,12.520000,11.497110,7.626848e+07
25%,48.230000,50.540001,45.139999,47.970001,42.984871,3.751604e+08,17.520000,18.480000,16.500000,17.879999,16.320553,1.226772e+09
50%,52.110001,54.389999,49.270000,51.630001,46.230240,4.130887e+08,24.459999,27.980000,23.610001,24.780001,23.952951,1.488464e+09
75%,55.200001,56.599998,52.750000,55.099998,49.485039,4.704233e+08,29.480000,31.059999,27.629999,29.080000,28.122856,1.824451e+09
max,65.370003,66.309998,60.700001,65.779999,59.586338,1.116096e+09,35.349998,35.720001,32.549999,35.220001,34.565609,3.571160e+09

In [70]:
dropped_bac_wcf_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61 entries, 0 to 60
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           61 non-null     object
 1   Open_wfc       61 non-null     float64
 2   High_wfc       61 non-null     float64
 3   Low_wfc        61 non-null     float64
 4   Close_wfc      61 non-null     float64
 5   Adj Close_wfc  61 non-null     float64
 6   Volume_wfc     61 non-null     int64
 7   Open_bac       61 non-null     float64
 8   High_bac       61 non-null     float64
 9   Low_bac        61 non-null     float64
 10  Close_bac      61 non-null     float64
 11  Adj Close_bac  61 non-null     float64
 12  Volume_bac     61 non-null     int64
dtypes: float64(10), int64(2), object(1)
memory usage: 6.7+ KB

In [60]:
# add dfs using concat method
pd.concat([BAC, WFC], ignore_index=True)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-07-01,17.250000,18.480000,16.219999,17.879999,16.320553,1904433600
1,2015-08-01,17.910000,18.070000,14.600000,16.440001,15.006145,2325559300
2,2015-09-01,15.950000,16.480000,15.250000,15.580000,14.221155,1777912500
3,2015-10-01,15.520000,17.440001,14.630000,16.780001,15.365807,1848594500
4,2015-11-01,16.900000,18.090000,16.870001,17.430000,15.961024,1439390500
...,...,...,...,...,...,...,...
117,2020-03-01,40.980000,42.900002,25.110001,28.700001,28.128466,1116095800
118,2020-04-01,27.020000,33.910000,25.910000,29.049999,28.471495,868179300
119,2020-05-01,28.500000,28.530001,22.000000,26.469999,25.942873,1055539700
120,2020-06-01,26.610001,33.889999,26.370001,27.969999,27.969999,623079700
121,2020-06-15,26.860001,28.385000,26.559999,28.209999,28.209999,47336225

In [72]:
dropped_bac_wcf_df.head()

,Date,Open_wfc,High_wfc,Low_wfc,Close_wfc,Adj Close_wfc,Volume_wfc,Open_bac,High_bac,Low_bac,Close_bac,Adj Close_bac,Volume_bac
0,2015-07-01,57.090000,58.77,55.080002,57.869999,48.733082,300870000,17.25,18.480000,16.219999,17.879999,16.320553,1904433600
1,2015-08-01,58.070000,58.16,47.750000,54.029999,45.499367,439060600,17.91,18.070000,14.600000,16.440001,15.006145,2325559300
2,2015-09-01,52.110001,53.91,49.799999,51.349998,43.524792,409157600,15.95,16.480000,15.250000,15.580000,14.221155,1777912500
3,2015-10-01,51.509998,55.57,49.509998,54.139999,45.889622,353524000,15.52,17.440001,14.630000,16.780001,15.365807,1848594500
4,2015-11-01,54.209999,56.34,54.130001,55.099998,46.703323,268235700,16.90,18.090000,16.870001,17.430000,15.961024,1439390500

In [73]:
# Set the 'Country Code' to be our index for easy referencing of rows
combined_indexed_df = dropped_bac_wcf_df.set_index("Date")

In [75]:
# Collect the mean unemployment rates for the world
average = combined_indexed_df.mean()
average

Open_wfc         5.067508e+01
High_wfc         5.288352e+01
Low_wfc          4.745607e+01
Close_wfc        5.019361e+01
Adj Close_wfc    4.544471e+01
Volume_wfc       4.532124e+08
Open_bac         2.418820e+01
High_bac         2.577361e+01
Low_bac          2.257148e+01
Close_bac        2.429967e+01
Adj Close_bac    2.317200e+01
Volume_bac       1.609048e+09
dtype: float64

In [79]:
# Collect the dates at which the data is collected
dates = combined_indexed_df.index.to_list()
print(dates)

['2015-07-01', '2015-08-01', '2015-09-01', '2015-10-01', '2015-11-01', '2015-12-01', '2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01', '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01', '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01', '2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01', '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01', '2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01', '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01', '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01', '2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01', '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01', '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01', '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01', '2020-05-01', '2020-06-01', '2020-06-15']

In [ ]:
open_avg, = plt.plot(dates, average, color='blue', label='Combined bac and wfc data')